#pop_up{
  background-color:transparent;
  width: 45%;
  height: 45px;
  z-index: 1;
  margin-top: 300px;
  text-align: center;
  border: 0px solid lightgrey;
  border-radius:25px;
  position: absolute
}
